<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>会员管理系统</title>

    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap-reset.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static',filename='assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}"
          rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}" type="text/css">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/style-responsive.css')}}" rel="stylesheet"/>
</head>

<body>
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <a href="#" class="logo">脸<span>客</span></a>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder="Search">
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                    <img alt="" src="{{url_for('static', filename ='img/avatar1_small.jpg')}}">
                    <span class="username">{{name}}</span>
                    <b class="caret"></b>
                </a>
            </li>
        </ul>
    </div>
</header>
<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>会员管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{url_for('add')}}">添加会员</a></li>
                    <li><a class="" href="{{url_for('recognize')}}">会员识别</a></li>
                    <li><a class="" href="{{url_for('search')}}">会员查找</a></li>
                    <li><a class="" href="{{url_for('index')}}">会员名单</a></li>
                </ul>
            </li>
            <li class="sub-menu active">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>商品管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="active"><a class="" href="{{url_for('addproject')}}">添加商品</a></li>
                    <li><a class="" href="{{url_for('list')}}">商品列表</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="" href="{{url_for('config')}}">
                    <i class="icon-dashboard"></i>
                    <span>系统管理</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<section id="main-content">
    <section class="wrapper">
        <div class="col-lg-10">
            <section class="panel">
                <header class="panel-heading">
                    添加商品
                </header>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">商品名称</label>
                            <input type="text" class="form-control" id="name" placeholder="输入商品名">
                        </div>
                        <div class="form-group">
                            <label for="price">商品价格</label>
                            <input type="text" class="form-control" id="price" placeholder="商品价格">
                        </div>
                        <button id="submit" type="submit" class="btn btn-info">完成</button>
                    </form>
                </div>
            </section>
        </div>
    </section>
</section>

<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.scrollTo.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.nicescroll.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.sparkline.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js')}}"></script>
<script src="{{url_for('static',filename='js/owl.carousel.js')}}" ></script>
<script src="{{url_for('static',filename='js/jquery.customSelect.min.js')}}" ></script>

<script src="{{url_for('static',filename='js/common-scripts.js')}}"></script>

<script src="{{url_for('static',filename='js/sparkline-chart.js')}}"></script>
<script src="{{url_for('static',filename='js/easy-pie-chart.js')}}"></script>

<script>
    (function(){
        $('#submit').on('click', function (e) {
            e.preventDefault();
            var name = $('#name').val();
            var price = $('#price').val();
            $.ajax({
                url:"/addproject",
                type: 'POST',
                dataType: 'json',
                data: {
                    'name':name,
                    'price':price
                },
                success: function(res){
                    if(res) {
                        alert('添加成功');
                        window.location.href = '/list';
                    }
                }
            });
        });
    })()
    //owl carousel

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

        });
    });

    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

</script>

</body>
</html>
